<%= render :partial => 'chapters/header' %>

<div class="container">
  <h3><%= t "books.results_in_your_verses" %></h3>
  <table class="table table-hover table-condensed table-striped">
    <thead>
      <tr>
        <th><%= t "title" %></th>
        <th><%= t "description" %></th>
        <th><%= t "label" %></th>
      </tr>
    </thead>

    <tbody>
      <% @verses.each do |verse| %>
        <tr>
          <td><%= link_to verse.title, edit_verse_path(verse) %></td>
          <td><%= verse.description %></td>
          <td><%= verse.label %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</br>
<div class="container">
  <div id="vertical-line"></div>
</div>
</br>
<div class="container">
  <h3><%= t "books.results_in_bible" %></h3>
  <table class="table table-hover table-condensed table-striped">
    <thead>
      <tr>
        <th><%= t "books.book" %></th>
        <th><%= t "books.chapter" %></th>
        <th><%= t "books.verse" %></th>
        <th><%= t "books.content" %></th>
      </tr>
    </thead>

    <tbody>
      <% @scripts.each do |text| %>
        <tr>
          <td><%= text.book_name(text.book) %></td>
          <td><%= text.chapter %></td>
          <td><%= text.line %></td>
          <td><%= text.body %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
