<%= simple_form_for @verse, :html => { :class => 'form'
  } do |f| %>
  <div class="form-group">
    <%= f.input :title, :type => "title", :class => "form-cotrol", :placeholder => "Title" %>
  </div>
  <div class="form-group">
    <%= f.input :description, :type => "description", :class => "form-cotrol", :placeholder => "Description" %>
  </div>
  <div id='add_new_label' hidden>
    <%= f.input :label %>
  </div>
  <div class="form-group">
    <div id='select_label'>
      <div class='control-group string required verse_label'>
        <label class="text required control-label" for="verse_label">
          <abbr title="required">*</abbr> Label</label>
        <div class='controls'>
          <%= label_select(@verse) %>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <a href='javascript:void(0)', class='controls btn btn-default', id='create_new_label'>Create new label</a>
  </div>
  <div class="form-group">
    <a href='javascript:void(0)', class='controls', id='use_existing_label', hidden>Use existing label</a>
  </div>
  <div class="form-group">
    <%= f.button :submit, :class => "btn btn-primary" %>
  </div>
<% end %>

<script>
  $("input#verse_label").attr('disabled', 'true');
  $("#create_new_label").click(function(e) {
    e.stopPropagation();
    $("#add_new_label").show();
    $("select#verse_label").attr('disabled', 'true');
    $("#create_new_label").hide();
    $("#use_existing_label").show();
    $("#select_label").hide()
    $("input#verse_label").removeAttr('disabled');
  });

  $("#use_existing_label").click(function(e) {
    e.stopPropagation();
    $("#add_new_label").hide();
    $("input#verse_label").attr('disabled', 'true');
    $("select#verse_label").removeAttr('disabled');
    $("#create_new_label").show();
    $("#use_existing_label").hide();
    $("#select_label").show()
  });
</script>
