<h1>Listing verses</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Label</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @verses.each do |verse| %>
      <tr>
        <td><%= verse.title %></td>
        <td><%= verse.description %></td>
        <td><%= verse.label %></td>
        <td><%= link_to 'Show', verse %></td>
        <td><%= link_to 'Edit', edit_verse_path(verse) %></td>
        <td><%= link_to 'Destroy', verse, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Verse', new_verse_path %>
