<%= render 'header' %>

<h4><%= @verse.title %> | <small><%= @verse.label %></small></h4>

<blockquote>
  <%= @verse.description %>
</blockquote>

<%= link_to 'Edit', edit_verse_path(@verse), :class => "btn btn-default" %>
