<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="navbar-inner">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "back", :back, :class => 'navbar-brand' %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <%= link_to new_verse_path, :class => "btn btn-primary navbar-btn", :type => 'button', :id => "custom-btn" do %>
            <span class="glyphicon glyphicon-plus"></span>
            <span class="glyphicon glyphicon-font"></span>
          <% end %>
        </ul>
        <%= form_tag verses_path && url_for(:controller => 'books', :action => 'search'), :method => 'get', :class => 'navbar-form navbar-left', :role => 'search' do %>
          <div class="form-group">
            <%= text_field_tag :search, params[:search], :class => 'form-control', :id => "search-bar", :placeholder => 'Search', :type=>"search" %>
          </div>
          <div class="form-group">
            <%= button_tag(type:"submit", class:"btn btn-default", :id => "submit", :name => nil, :alt => "Search") do %>
              <span>Search </span><span class="glyphicon glyphicon-search"></span>
            <% end %>
            <%= link_to "/script", :class => 'btn btn-default', :type => 'button', :alt => 'Clear'  do %>
              <span class="glyphicon glyphicon-remove"></span>
            <% end %>
          </div>
        <% end %>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </div>
</nav>
